$brand-color: #18A5EB;
$brand-text-color: white;
$compliment-color: #F1F1F1;
$usually-color:black;

$icon-size: 16px;
$font-size: 16px;
$font-size-day: 14px;
$font-size-week:14px;
$step-xs: 2px;
$step-sm: 4px;
$step-md: 8px;

.tavo-calendar {
    text-align: center;
    font-size: $font-size;
    background: #f5fcff;
    border-radius: 10px;
    margin-right: -8px;
    margin-left: -8px;
    padding: 16px;
}

.tavo-calendar__info {
    display: none;
    text-align: left;
    margin-bottom: 8px;
    font-size: 12px;

    span {
        font-weight: bold;
        background-color:#f1f1f1;
    }

    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

.tavo-calendar__header{
    display: flex;
    justify-content: space-between;
    color: $usually-color;
    align-items: center;
    padding: $step-sm $step-md;
    max-width: 400px;
    margin: 0 auto;
}
.tavo-calendar__nav {
    float:left;
    //font-size:1.125em;
    font-weight:bold;
    position:relative;
    cursor:pointer;
    fill: $brand-text-color;
    background: $brand-color;
    border-radius: 50%;
    padding: 3px;
    line-height: $icon-size;
    &_prev,
    &_next {
        text-align:left;

        svg {
            width: $icon-size;
            height: $icon-size;
        }
    }
}

.tavo-calendar__code {
    &_lock {
        opacity: 0.7;
    }

    &_lock:hover {
        opacity: 1;
    }

    &_lock .tavo-calendar__days {
        pointer-events: none;
    }
}

.tavo-calendar__week-names {
    //background-color: $compliment-color;
    font-size: $font-size-week;
    padding: 4px;
    max-width: 100%;
    height: 70px;
    overflow-y: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
}


.tavo-calendar__days {
    display: flex;
    flex-wrap: wrap;

    margin-top: 5px;
    &-wrap{
        display: flex;
        align-items: center;
    }
}

.tavo-calendar__reset {
    float: right;

    svg {
        height: $icon-size;
        width: $icon-size;
    }
}
.tavo-calendar__scroll-box{
    display: flex;
    align-items: center;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    padding-bottom: 30px;
}

.tavo-calendar__date-box{
    min-width: 76px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tavo-calendar__weekday {
    flex: 1;
    text-align: center;
}

.tavo-calendar__day {
    flex: 1;

    text-align: center;

    cursor: pointer;

    span {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        display: inline-block;
        line-height: 32px;
        font-size: $font-size-day;
        background: lightblue;

        &:hover {
            background-color: lightblue;
        }
    }

    &_highlight {
        color: red !important;
    }

    &_abs-today     {
        //background-color: lightgoldenrodyellow;
        border-radius: unset;
    }

    &_today:hover span {
        border-radius: 50%;
    }

    &_off,
    &_exp,
    &_different-month,
    &_lock {
        cursor: default;
        color: grey;
        background-color: unset;

        day, day:hover {
            background: unset;
        }
    }

    &_off span {
        text-decoration: line-through;
    }

    &_select span {
        background-color: unset;
    }

    &_select {

        span {
            background-color: $brand-color;
            color: $brand-text-color;
        }

        day:hover {
            background-color: lightblue;
        }
    }

    &_range-select {
        background-color: lightblue;
    }

    &_select-lock {
        pointer-events: none;
        color: grey;
    }
    &_range-start{
        span{
            border-radius: 50% 0 0 50%;
        }
    }
    &_range-end{
        span{
            border-radius: 0 50% 50% 0;
        }
    }
}
.tavo-calendar__day_off span{
    background: none;
    &:hover{
        background: none;
    }
}
.tavo-calendar__day_off.tavo-calendar__day_select span{
    background-color: $brand-color;
    &:hover{
        background-color: lightblue;
    }
}
.tavo-calendar__day_range-start.tavo-calendar__day_range-end span{
    border-radius: 50%;
}

@media (max-width: 480px){
    .tavo-calendar__date-box{
        min-width: 84px;
    }
}